<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CHARSET" value="UTF-8"/>
    <property name="MAX_HISTORY" value="7"/>
    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <!-- 可用来获取StatusManager中的状态 -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>|%p|%d{yyyy-MM-dd HH:mm:ss.SSS}|%t|%logger:%L|%m%n</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
        <includeCallerData>true</includeCallerData>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_STDOUT" />
    </root>
    <logger level="debug" name="com.cdfive.learning.gateway.filter.sign.ApiSignGatewayFilter"/>
</configuration>
